.navegacao {
    display: flex;
    margin: 2rem 7.5625rem 1.375rem 1rem;
}

.navegacao__imagem {
    width: 3.5625rem;
    height: 3.5625rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.navegacao__informacoes-titulo {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--cor-titulo);
}

.navegacao__informacoes-texto {
    color: var(--cor-texto);
}

@media (min-width: 768px) {
    .navegacao {
        margin-left: 10.5rem;
    }
}

@media (min-width: 1728px) {
    .navegacao {
        margin-left: 13.2rem;
    }

    .navegacao__imagem {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }

    .navegacao__informacoes-titulo {
        font-size: 1.9375rem;
        margin-top: 1rem;
    }

    .navegacao__informacoes-texto {
        font-size: 1.125rem;
    }
}